/*CSS del Proyecto*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.Navegacion{
    background: darkgrey;
    padding: 0 15px;
    width: 100%;
}
.a_navegacion{
    color: white;
    text-decoration: none;
}
.menu{
    list-style-type: none;
}
.logo{
    padding: 10px 10px 7px 0px;
    
}
.item{
    padding: 10px;
    
}
.img_navegacion:hover{
    transform: scale(1.5);
}

    
/*Menu Moviles*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    
}
.menu li a{
    display: block;
}
.logo{
    flex: 1;
}
.item{
    flex: 1;
}
/*Menu Tablet*/
@media all and (min-width: 700px){
    .menu{
        justify-content: center;
        justify-content: space-evenly;
        width: auto;
        position: relative; 
        flex: 2;  
    }
    .logo{
        flex: 1;
    }
    .item{
        justify-content: center;
        flex: 1;
    }
}
/*Menu Desktop*/
@media all and (min-width: 960px){
    .item{
        justify-content: center;
        justify-content: space-evenly;
        flex: 1;
        order: 1;
        display: block;
        width: auto;
        position: relative;
        
    }
    .logo{
        
    }
}