/*CSS del Proyecto*/
/*General Menu*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.Navegacion{
    background: darkgrey;
    padding: 0 15px;
    width: 100%;
}
.a_navegacion{
    color: white;
    text-decoration: none;
}
.menu{
    list-style-type: none;
}
.logo{
    padding: 10px 10px 7px 0px;
    
}
.item{
    padding: 10px;
    
}
.img_navegacion:hover{
    transform: scale(1.5);
}

    
/*Menu Moviles*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    
}
.menu li a{
    display: block;
}
.logo{
    flex: 1;
}
.item{
    flex: 1;
}
/*Menu Tablet*/
@media only screen and (min-width: 700px){
    .menu{
        justify-content: center;
        justify-content: space-evenly;
        width: auto;
        position: relative; 
        flex: 2;  
    }
    .logo{
        flex: 1;
    }
    .item{
        justify-content: center;
        flex: 1;
    }
}
/*Menu Desktop*/
@media only screen and (min-width: 960px){
    .item{
        justify-content: center;
        justify-content: space-evenly;
        flex: 1;
        order: 1;
        display: block;
        width: auto;
        position: relative;
        
    } 
}
/*General Seccion Inicio*/
.Inicio{
    background-image: url(/imagenes/HOJASSSSS.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
}
.nav-inicio{
    justify-content: center;
    position: relative;
}
.titulos-inicio{
    color: black;
    padding: 5px;
    margin: auto;
    font-weight: bolder;
    text-decoration: underline double black;
    text-align: center;
}
.imagen-inicio{
  align-content: center;
  margin: auto;
  padding: 20px;
}

/*Inicio Moviles*/
@media only screen and (max-width: 480px){
.nav-inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.nav-inicio h1 h2{
    display:block;
    
}
.titulos-inicio{
    align-content: center;
}
.imagen-inicio{
    width: 100%;
}
.img_inicio{
    width:100%;
}
}
/*Inicio Tablet*/
@media only screen and (min-width: 481px) and (max-width:960px){
.nav-inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
.titulos-inicio h1 h2{
        flex-direction: column; 
    }
.imagen-inicio{
    width:100%;
}
.img_inicio{
    width:100%;
}
}
/*Inicio Desktop*/
@media only screen and (min-width: 961px){
.nav-inicio{
        }
.titulos-inicio h1 h2{
    flex-direction: column; 
        }
.imagen-inicio{
    width:700px;
    align-items: center;
    }
}