/*CSS del Proyecto*/
/*General Menu*/

*{   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.Navegacion{
    background: darkgrey;
    padding: 0 15px;
    width: 100%;
}
.menu{
    list-style-type: none;
}
.logo{
    padding: 10px 10px 7px 0px;
    
}
.item{
    padding: 10px;
    
}
.img_navegacion:hover{
    transform: scale(1.5);
}

    
/*Menu Moviles*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    
}
.menu li a{
    display: block;
}
.logo{
    flex: 1;
}
.item{
    flex: 1;  
}
/*Menu Tablet*/
@media only screen and (min-width: 700px){
    .menu{
        justify-content: center;
        justify-content: space-evenly;
        width: auto;
        position: relative; 
    }
    .logo{
        flex: 1;
    }
    .item{
        justify-content: center;
        flex: 1;
    }
}
/*Menu Desktop*/
@media only screen and (min-width: 960px){
    .item{
        justify-content: center;
        justify-content: space-evenly;
        flex: 1;
        order: 1;
        display: block;
        width: auto;
        position: relative;
        
    } 
}
/*General Seccion Inicio*/
.Inicio{
    background-image: url(/imagenes/HOJASSSSS.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
}
.nav-inicio{
    justify-content: center;
    position: relative;
}
.titulos-inicio{
    color: black;
    padding: 5px;
    margin: auto;
    font-weight: bolder;
    text-decoration: underline double black;
    text-align: center;    
}
.h1-titulo{
    padding-top: 50px;
}
.imagen-inicio{
  align-content: center;
  margin: auto;
  padding: 20px;
  
}
.img_inicio{
  border-left: black solid 3px;
  border-right:black solid 3px ;
  border-bottom: black solid 3px;
}

/*Inicio Moviles*/
@media only screen and (max-width: 480px){
.nav-inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.nav-inicio h1 h2{
    display:block;
    
}
.titulos-inicio{
    align-content: center;
}
.imagen-inicio{
    width: 100%;
}
.img_inicio{
    width:100%;
}
}
/*Inicio Tablet*/
@media only screen and (min-width: 481px) and (max-width:960px){
.nav-inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
.titulos-inicio h1 h2{
        flex-direction: column; 
    }
.imagen-inicio{
    width:100%;
}
.img_inicio{
    width:100%;
}
}
/*Inicio Desktop*/
@media only screen and (min-width: 961px){
.nav-inicio{
        }
.titulos-inicio h1 h2{
    flex-direction: column; 
        }
.imagen-inicio{
    width:700px;
    align-items: center;
    }
}
/*General Footer*/
footer{
    height: 100%;
}
.Navegacion-footer{
    background: darkgrey;
    padding: 0 15px;
    width: 100%;
}
.menu-footer{
    list-style-type: none;
    border-bottom: black 2px;
}
.item-footer{
    padding: 10px;
}
.titulos-footer{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
}
.img-instagram:hover{
    transform: scale(1.2);
}
.a_redes{
    color: black;
    text-decoration:none;
    padding: 10px;
}
.div-redes{
    width: 100%;
}
.div2-redes{
    padding: 5px;
}
/*Footer Moviles*/
.menu-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        margin: auto;       
}
.menu-footer li a{
    display: block;
    border-bottom: black 2px;

}
.item-footer{
        margin: auto;
}
.div-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*General Sobre Mi*/
.seccion-sobremi{
    background-image: url(/imagenes/HOJASSSSS.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas:
    "div-sobremi div-textos";
    grid-column-gap:10px;   
}
#div-textos{
    grid-area: div-textos;
    width:50%;
    margin-top: 50px;
}
#div-sobremi{
    grid-area: div-sobremi;
    width: fit-content;
    margin-left: 50px;
    margin-top: 50px;
}
.textos-sobremi{
    color: black;
    padding: 10px;
    font-weight: bolder;
    text-align:left;
}
.titulo-sobremi{
    margin-top: 50px;
    text-decoration: underline double black;
    opacity: 100%;
}
.titulo-sobremi:hover{
    background-color: dimgrey;
}
.subtitulo-sobremi{
    text-decoration: underline double black
}
.subtitulo-sobremi:hover{
    background-color: dimgrey;
}
.parrafo-sobremi{
    letter-spacing: 1px;
    font-size: large;  
}
.parrafo-sobremi:hover{
    background-color: dimgrey;
}
/*Sobre Mi Moviles*/
@media only screen and (max-width: 480px){
    .seccion-sobremi{
        display: grid;
        grid-template-areas:
        "div-sobremi"
        "div-textos";
    }
    #div-sobremi{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 0;
    }
    .img-sobremi{
        width:100%;
    }
    #div-textos{
        width: 100%;
        margin:auto;
    }
}
/*Sobre Mi Tablet*/
@media only screen and (min-width: 481px) and (max-width:960px){
    .seccion-sobremi{
        display: grid;
        grid-template-areas:
        "div-sobremi"
        "div-textos";
    }
    #div-sobremi{
        margin:auto;
        padding-top: 50px;
    }
    #div-textos{
        margin: auto;
    }
    .textos-sobremi{
        text-align: center;
    }       
}
/*Sobre Mi Desktop*/
@media only screen and (min-width: 961px){
    .seccion-sobremi{
    display: grid;
    grid-template-areas:
    "div-sobremi div-textos";
    grid-column-gap:10px;
    }
}
/*Seccion Porfolio*/
.seccion-portfolio{
    background-image: url(/imagenes/FondoHelecho2.jpg);
    background-size: contain;
}
.container-portfolio{
    margin: auto;
    width: 800px;
    padding: 30px;
}
.container-portfolio ul, li {
    padding: 0;
    margin: 0;
    list-style: none; 
}
ul.slider-portfolio{
    position: relative;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
  }
  .slider-portfolio li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition:opacity .5s;
}
.slider-portfolio li img{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
 .slider-portfolio li:first-child {
    opacity: 1; 
}
.slider-portfolio li:target {
    opacity: 1; 
}
.img-portfolio{
    margin: auto;
}

.menu-portfolio{
  text-align: center;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu-portfolio li a{
  color: black;
  font-weight: bolder;
  text-decoration: underline black 2px;
  margin:auto
}
.menu-portfolio li{
    border:black solid 2px;
}
.menu-portfolio li a:hover{
    background-color: dimgrey;
    font-size: large;
}
/*Portfolio Moviles*/
@media only screen and (max-width: 480px){
    .container-portfolio{
        width: 100%;
    }
    ul.slider-portfolio{
        width: 100%;
        margin: auto;
    }
    .slider-portfolio li img{
        width: 100%;
        object-fit: contain;

    }
}
/*Portfolio Tablet*/
@media only screen and (min-width: 481px) and (max-width:960px){
    .container-portfolio{
        width: 100%;
    }
    ul.slider-portfolio{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .slider-portfolio li img{
        width: 100%;
        object-fit: contain;

    }
}
/*Seccion Poemas*/
.seccion-poemas{
    background-image: url(/imagenes/FondoHelecho2.jpg);
    background-size: contain;
}
.container-poemas{
    margin: auto;
    width: 600px;
    padding: 30px;
}
.container-poemas ul, li {
    padding: 0;
    margin: 0;
    list-style: none; 
}
ul.slider-poemas{
    position: relative;
    width: 500px;
    height: 600px;
    margin: auto;
  }
  .slider-poemas li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition:opacity .5s;
}
.slider-poemas li p{
    width: 100%;
    object-fit: cover;
    background-image: linear-gradient(white, dimgrey);
    margin: auto;
  }
 .slider-poemas li:first-child {
    opacity: 1; 
}
.slider-poemas li:target {
    opacity: 1; 
}
.texto-poemas{
    text-align: center;
    font-weight: bold;
}
#slide1{
    margin-top:10px;
}
.menu-poemas{
  text-align: center;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu-poemas li a{
  color: black;
  font-weight: bolder;
  text-decoration: underline black 2px;
  margin:auto
}
.menu-poemas li{
    border:black solid 2px;
}
.menu-poemas li a:hover{
    background-color: dimgrey;
    font-size: large;
}
/*Poemas Moviles*/
@media only screen and (max-width: 480px){
    .container-poemas{
        width: 100%;
    }
    ul.slider-poemas{
        width: 100%;
        margin: auto;
    }
    .slider-poemas li img{
        width: 100%;
        object-fit: contain;
    }
}
/*Poemas Tablet*/
@media only screen and (min-width: 481px) and (max-width:960px){
    .container-poemas{
        width: 100%;
    }
    ul.slider-poemas{
        margin: auto;
    }
    .slider-poemas li img{
        width: 100%;
        object-fit: contain;
    }
}
/*Contacto General*/
.seccion-contacto{
    background-image: url(/imagenes/FondoHelecho.jpg);
    background-size: contain;
}
.contact_form{  
    width: 460px;
    margin: auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;   
    background-image: linear-gradient(dimgrey, mediumaquamarine);
  }
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: mediumaquamarine; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: mediumaquamarine; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  label{
    display: block; 
    float: center;  
  }
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: mediumturquoise; 
    border-color:mediumturquoise; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  span{
    color:mediumturquoise; 
  }
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  #enviar{
      color: black;
      font-weight: bolder;
  }
  .colocar_nombre{
      font-weight: bolder;
      text-decoration: underline solid 2px;
  }
  .colocar_email{
      font-weight: bolder;
      text-decoration: underline solid 2px;
  }
  .colocar_mensaje{
      font-weight: bolder;
      text-decoration: underline solid 2px;
  }
  .h2-contacto{
    color: #0e0e0e;
    text-decoration: underline double black;
    padding-bottom: 10px;
  }
  .h3-contacto{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;
    text-decoration: underline double black;   
  }
  .formulario-contacto p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  .formulario input:focus{
    outline:0;
    border: 1px solid blue;
  }
  .formulario textarea:focus{
    outline:0;
    border: 1px solid blue;
  }
  /*Contacto Moviles*/
  @media only screen and (max-width: 480px){
      .contact_form{
          width: 100%;
          padding:auto;
          object-fit: contain;  
      } 
      .formulario-contacto{
          width: auto;
          display: flex;
          flex-wrap: wrap;
  }
 



    
